<a href="https://colab.research.google.com/github/lmerasoc/Analisis-de-datos-Bootcamp/blob/main/Lab_5_AD_B__Lina_Eraso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd;
import numpy as np;
from google.colab import files
uploaded = files.upload()

Saving CSV Laboratorio 5 AD-B.xlsx to CSV Laboratorio 5 AD-B.xlsx

In [3]:
df = pd.read_excel('CSV Laboratorio 5 AD-B.xlsx')
print(df.count())
print(df.head(20))

ID          60
Name        60
Category    50
City        45
Value       58
Date        60
dtype: int64
    ID     Name    Category         City  Value                 Date
0    1  Charlie       Cat C      Chicago   46.0            4/13/2023
1    2     Jane       Cat C      Houston   53.0           12/15/2023
2    3     Jane  category a      Chicago   68.0            9/28/2023
3    4     John         NaN     New York   97.0            4/17/2023
4    5     Jane       Cat C      Houston   71.0            3/13/2023
5    6      Eve  category a  Los Angeles   61.0  2023-08-07 00:00:00
6    7     Jane  Category A      Chicago   48.0            1/21/2023
7    8      Bob  CATEGORY B     New York   65.0            4/13/2023
8    9      Bob  CATEGORY B  Los Angeles    NaN  2023-02-05 00:00:00
9   10     Dave  CATEGORY B  Los Angeles   11.0  2023-03-08 00:00:00
10  11      Bob       Cat C          NaN   96.0           11/27/2023
11  12     Dave  Category A      Houston   10.0            3/29/2023
12  13      Bob       Cat C      Chicago   11.0  2023-10-04 00:00:00
13  14      Eve         NaN     New York   99.0           12/26/2023
14  15    Grace       Cat C          NaN   41.0  2023-01-06 00:00:00
15  16     Dave  Category A      Houston   64.0  2023-11-05 00:00:00
16  17    Alice  Category A          NaN   26.0            5/30/2023
17  18  Charlie         NaN      Houston   33.0  2023-05-11 00:00:00
18  19     John  Category A      Houston   79.0            9/15/2023
19  20      Bob  Category A      Chicago   25.0  2023-10-12 00:00:00

In [4]:
#Valores nulos
print(df.isnull().sum())

ID           0
Name         0
Category    10
City        15
Value        2
Date         0
dtype: int64

In [12]:
#Duplicated
print("Datos duplicados:",df.duplicated().sum())
#Eliminar duplicados
df1 = df.drop_duplicates()
print("Datos duplicados:",df1.duplicated().sum())
print(df1.count())
print(df1.isnull().sum())

Datos duplicados: 10
Datos duplicados: 0
ID          50
Name        50
Category    42
City        38
Value       48
Date        50
dtype: int64
ID           0
Name         0
Category     8
City        12
Value        2
Date         0
dtype: int64

In [13]:
#Llenar datos nulos
df2 = df1.copy()
df2['Value'] = df2['Value'].fillna(df2['Value'].mean())
print(df2.isnull().sum())
print(df2.count())

ID           0
Name         0
Category     8
City        12
Value        0
Date         0
dtype: int64
ID          50
Name        50
Category    42
City        38
Value       50
Date        50
dtype: int64

In [11]:
#Eliminar datos nulos
df3 = df2.dropna()
print(df3.isnull().sum())
print(df3.count())
print(df3)

ID          0
Name        0
Category    0
City        0
Value       0
Date        0
dtype: int64
ID          33
Name        33
Category    33
City        33
Value       33
Date        33
dtype: int64
    ID     Name    Category         City      Value                 Date
0    1  Charlie       Cat C      Chicago  46.000000            4/13/2023
1    2     Jane       Cat C      Houston  53.000000           12/15/2023
2    3     Jane  category a      Chicago  68.000000            9/28/2023
4    5     Jane       Cat C      Houston  71.000000            3/13/2023
5    6      Eve  category a  Los Angeles  61.000000  2023-08-07 00:00:00
6    7     Jane  Category A      Chicago  48.000000            1/21/2023
7    8      Bob  CATEGORY B     New York  65.000000            4/13/2023
8    9      Bob  CATEGORY B  Los Angeles  51.520833  2023-02-05 00:00:00
9   10     Dave  CATEGORY B  Los Angeles  11.000000  2023-03-08 00:00:00
11  12     Dave  Category A      Houston  10.000000            3/29/2023
12  13      Bob       Cat C      Chicago  11.000000  2023-10-04 00:00:00
15  16     Dave  Category A      Houston  64.000000  2023-11-05 00:00:00
18  19     John  Category A      Houston  79.000000            9/15/2023
19  20      Bob  Category A      Chicago  25.000000  2023-10-12 00:00:00
20  21     Jane  CATEGORY B      Houston  68.000000           10/21/2023
22  23      Bob  Category B      Houston  68.000000  2023-04-10 00:00:00
23  24     Jane  Category B      Chicago  99.000000  2023-10-06 00:00:00
24  25  Charlie  Category A      Chicago  28.000000  2023-10-11 00:00:00
26  27  Charlie  Category B  Los Angeles  42.000000  2023-10-09 00:00:00
27  28     Jane  Category A  Los Angeles  48.000000            8/24/2023
28  29      Bob  Category B      Houston  10.000000  2023-11-12 00:00:00
29  30  Charlie       Cat C     New York  66.000000            2/18/2023
30  31      Eve  category a      Houston  32.000000            2/28/2023
36  37     Jane  Category A      Chicago  46.000000            2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles  18.000000           12/30/2023
39  40  Charlie  Category A     New York  12.000000  2023-01-09 00:00:00
42  43     Dave       Cat-C     New York  81.000000  2023-03-11 00:00:00
43  44    Grace       Cat C      Chicago  93.000000            5/15/2023
44  45  Charlie  Category B     New York  98.000000            1/21/2023
46  47      Bob       Cat-C      Houston  91.000000            6/16/2023
47  48     John  Category B     New York  44.000000  2023-01-10 00:00:00
48  49  Charlie  Category B      Chicago  50.000000            3/30/2023
49  50    Grace  Category A      Chicago  77.000000  2023-12-11 00:00:00

In [26]:
#Normalización de formatos en columnas (e.g., convertir texto a minúsculas,
#estandarizar fechas al formato AAAA/MM/DD con pd.to_datetime).
df3.loc[:,'City'] = df3['City'].str.capitalize()
df3.loc[:,'Category'] = df3['Category'].str.capitalize()
df3.loc[:,'Name'] = df3['Name'].str.capitalize()
df3.loc[:,'Date'] = pd.to_datetime(df3['Date']).dt.strftime('%Y/%m/%d')
df4=df3
print(df3)

    ID     Name    Category         City      Value        Date
0    1  Charlie       Cat c      Chicago  46.000000  2023/04/13
1    2     Jane       Cat c      Houston  53.000000  2023/12/15
2    3     Jane  Category a      Chicago  68.000000  2023/09/28
4    5     Jane       Cat c      Houston  71.000000  2023/03/13
5    6      Eve  Category a  Los angeles  61.000000  2023/08/07
6    7     Jane  Category a      Chicago  48.000000  2023/01/21
7    8      Bob  Category b     New york  65.000000  2023/04/13
8    9      Bob  Category b  Los angeles  51.520833  2023/02/05
9   10     Dave  Category b  Los angeles  11.000000  2023/03/08
11  12     Dave  Category a      Houston  10.000000  2023/03/29
12  13      Bob       Cat c      Chicago  11.000000  2023/10/04
15  16     Dave  Category a      Houston  64.000000  2023/11/05
18  19     John  Category a      Houston  79.000000  2023/09/15
19  20      Bob  Category a      Chicago  25.000000  2023/10/12
20  21     Jane  Category b      Houston  68.000000  2023/10/21
22  23      Bob  Category b      Houston  68.000000  2023/04/10
23  24     Jane  Category b      Chicago  99.000000  2023/10/06
24  25  Charlie  Category a      Chicago  28.000000  2023/10/11
26  27  Charlie  Category b  Los angeles  42.000000  2023/10/09
27  28     Jane  Category a  Los angeles  48.000000  2023/08/24
28  29      Bob  Category b      Houston  10.000000  2023/11/12
29  30  Charlie       Cat c     New york  66.000000  2023/02/18
30  31      Eve  Category a      Houston  32.000000  2023/02/28
36  37     Jane  Category a      Chicago  46.000000  2023/02/20
37  38  Charlie  Category b  Los angeles  18.000000  2023/12/30
39  40  Charlie  Category a     New york  12.000000  2023/01/09
42  43     Dave       Cat-c     New york  81.000000  2023/03/11
43  44    Grace       Cat c      Chicago  93.000000  2023/05/15
44  45  Charlie  Category b     New york  98.000000  2023/01/21
46  47      Bob       Cat-c      Houston  91.000000  2023/06/16
47  48     John  Category b     New york  44.000000  2023/01/10
48  49  Charlie  Category b      Chicago  50.000000  2023/03/30
49  50    Grace  Category a      Chicago  77.000000  2023/12/11

In [27]:
# Estandarizar formato de “Category”.
df4 = df3.copy()
df4.loc[:, 'Category'] = df4['Category'].str.replace('Cat c', 'Category c')
df4.loc[:, 'Category'] = df4['Category'].str.replace('Cat-c', 'Category c')
print(df4)
print(df4.count())

    ID     Name    Category         City      Value        Date
0    1  Charlie  Category c      Chicago  46.000000  2023/04/13
1    2     Jane  Category c      Houston  53.000000  2023/12/15
2    3     Jane  Category a      Chicago  68.000000  2023/09/28
4    5     Jane  Category c      Houston  71.000000  2023/03/13
5    6      Eve  Category a  Los angeles  61.000000  2023/08/07
6    7     Jane  Category a      Chicago  48.000000  2023/01/21
7    8      Bob  Category b     New york  65.000000  2023/04/13
8    9      Bob  Category b  Los angeles  51.520833  2023/02/05
9   10     Dave  Category b  Los angeles  11.000000  2023/03/08
11  12     Dave  Category a      Houston  10.000000  2023/03/29
12  13      Bob  Category c      Chicago  11.000000  2023/10/04
15  16     Dave  Category a      Houston  64.000000  2023/11/05
18  19     John  Category a      Houston  79.000000  2023/09/15
19  20      Bob  Category a      Chicago  25.000000  2023/10/12
20  21     Jane  Category b      Houston  68.000000  2023/10/21
22  23      Bob  Category b      Houston  68.000000  2023/04/10
23  24     Jane  Category b      Chicago  99.000000  2023/10/06
24  25  Charlie  Category a      Chicago  28.000000  2023/10/11
26  27  Charlie  Category b  Los angeles  42.000000  2023/10/09
27  28     Jane  Category a  Los angeles  48.000000  2023/08/24
28  29      Bob  Category b      Houston  10.000000  2023/11/12
29  30  Charlie  Category c     New york  66.000000  2023/02/18
30  31      Eve  Category a      Houston  32.000000  2023/02/28
36  37     Jane  Category a      Chicago  46.000000  2023/02/20
37  38  Charlie  Category b  Los angeles  18.000000  2023/12/30
39  40  Charlie  Category a     New york  12.000000  2023/01/09
42  43     Dave  Category c     New york  81.000000  2023/03/11
43  44    Grace  Category c      Chicago  93.000000  2023/05/15
44  45  Charlie  Category b     New york  98.000000  2023/01/21
46  47      Bob  Category c      Houston  91.000000  2023/06/16
47  48     John  Category b     New york  44.000000  2023/01/10
48  49  Charlie  Category b      Chicago  50.000000  2023/03/30
49  50    Grace  Category a      Chicago  77.000000  2023/12/11
ID          33
Name        33
Category    33
City        33
Value       33
Date        33
dtype: int64

In [29]:
print(df4.dtypes)
print(df4.info())

ID            int64
Name         object
Category     object
City         object
Value       float64
Date         object
dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 0 to 49
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        33 non-null     int64
 1   Name      33 non-null     object
 2   Category  33 non-null     object
 3   City      33 non-null     object
 4   Value     33 non-null     float64
 5   Date      33 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.8+ KB
None

In [33]:
df4['ID'] = range(1, len(df4) + 1)
print(df4)

    ID     Name    Category         City      Value        Date
0    1  Charlie  Category c      Chicago  46.000000  2023/04/13
1    2     Jane  Category c      Houston  53.000000  2023/12/15
2    3     Jane  Category a      Chicago  68.000000  2023/09/28
4    4     Jane  Category c      Houston  71.000000  2023/03/13
5    5      Eve  Category a  Los angeles  61.000000  2023/08/07
6    6     Jane  Category a      Chicago  48.000000  2023/01/21
7    7      Bob  Category b     New york  65.000000  2023/04/13
8    8      Bob  Category b  Los angeles  51.520833  2023/02/05
9    9     Dave  Category b  Los angeles  11.000000  2023/03/08
11  10     Dave  Category a      Houston  10.000000  2023/03/29
12  11      Bob  Category c      Chicago  11.000000  2023/10/04
15  12     Dave  Category a      Houston  64.000000  2023/11/05
18  13     John  Category a      Houston  79.000000  2023/09/15
19  14      Bob  Category a      Chicago  25.000000  2023/10/12
20  15     Jane  Category b      Houston  68.000000  2023/10/21
22  16      Bob  Category b      Houston  68.000000  2023/04/10
23  17     Jane  Category b      Chicago  99.000000  2023/10/06
24  18  Charlie  Category a      Chicago  28.000000  2023/10/11
26  19  Charlie  Category b  Los angeles  42.000000  2023/10/09
27  20     Jane  Category a  Los angeles  48.000000  2023/08/24
28  21      Bob  Category b      Houston  10.000000  2023/11/12
29  22  Charlie  Category c     New york  66.000000  2023/02/18
30  23      Eve  Category a      Houston  32.000000  2023/02/28
36  24     Jane  Category a      Chicago  46.000000  2023/02/20
37  25  Charlie  Category b  Los angeles  18.000000  2023/12/30
39  26  Charlie  Category a     New york  12.000000  2023/01/09
42  27     Dave  Category c     New york  81.000000  2023/03/11
43  28    Grace  Category c      Chicago  93.000000  2023/05/15
44  29  Charlie  Category b     New york  98.000000  2023/01/21
46  30      Bob  Category c      Houston  91.000000  2023/06/16
47  31     John  Category b     New york  44.000000  2023/01/10
48  32  Charlie  Category b      Chicago  50.000000  2023/03/30
49  33    Grace  Category a      Chicago  77.000000  2023/12/11

In [34]:
#exportar
df4.to_excel('CSV Laboratorio 5 AD-B_limpio.xlsx', index=False)
print(df4)
from google.colab import files
files.download('CSV Laboratorio 5 AD-B_limpio.xlsx')

    ID     Name    Category         City      Value        Date
0    1  Charlie  Category c      Chicago  46.000000  2023/04/13
1    2     Jane  Category c      Houston  53.000000  2023/12/15
2    3     Jane  Category a      Chicago  68.000000  2023/09/28
4    4     Jane  Category c      Houston  71.000000  2023/03/13
5    5      Eve  Category a  Los angeles  61.000000  2023/08/07
6    6     Jane  Category a      Chicago  48.000000  2023/01/21
7    7      Bob  Category b     New york  65.000000  2023/04/13
8    8      Bob  Category b  Los angeles  51.520833  2023/02/05
9    9     Dave  Category b  Los angeles  11.000000  2023/03/08
11  10     Dave  Category a      Houston  10.000000  2023/03/29
12  11      Bob  Category c      Chicago  11.000000  2023/10/04
15  12     Dave  Category a      Houston  64.000000  2023/11/05
18  13     John  Category a      Houston  79.000000  2023/09/15
19  14      Bob  Category a      Chicago  25.000000  2023/10/12
20  15     Jane  Category b      Houston  68.000000  2023/10/21
22  16      Bob  Category b      Houston  68.000000  2023/04/10
23  17     Jane  Category b      Chicago  99.000000  2023/10/06
24  18  Charlie  Category a      Chicago  28.000000  2023/10/11
26  19  Charlie  Category b  Los angeles  42.000000  2023/10/09
27  20     Jane  Category a  Los angeles  48.000000  2023/08/24
28  21      Bob  Category b      Houston  10.000000  2023/11/12
29  22  Charlie  Category c     New york  66.000000  2023/02/18
30  23      Eve  Category a      Houston  32.000000  2023/02/28
36  24     Jane  Category a      Chicago  46.000000  2023/02/20
37  25  Charlie  Category b  Los angeles  18.000000  2023/12/30
39  26  Charlie  Category a     New york  12.000000  2023/01/09
42  27     Dave  Category c     New york  81.000000  2023/03/11
43  28    Grace  Category c      Chicago  93.000000  2023/05/15
44  29  Charlie  Category b     New york  98.000000  2023/01/21
46  30      Bob  Category c      Houston  91.000000  2023/06/16
47  31     John  Category b     New york  44.000000  2023/01/10
48  32  Charlie  Category b      Chicago  50.000000  2023/03/30
49  33    Grace  Category a      Chicago  77.000000  2023/12/11