<a href="https://colab.research.google.com/github/lmerasoc/Analisis-de-datos-Bootcamp/blob/main/Lab_9_lina_eraso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


PARTE 1
1.	Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario y fecha de ingreso. Se requiere implementar algunos pasos de aseguramiento de la calidad de los datos, como la verificación de valores faltantes y la validación de formatos de datos.
	1. Identificar y contar los valores faltantes en cada columna.
  2. Verificar el formato de la columna 'Salario' para asegurar que todos los valores sean numéricos.
  3. Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.

In [2]:
import pandas as pd
data={
    'Nombre':['Juan','Ana', 'Pedro','María','Luis','Ana'],
    'Edad':[28, 34, None, 45, 38, 34],
    'Salario':['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
    'FechaIngreso':['2021-01-15',	'2020/03/12',	'2022-07-01','2021/12/01','2021-05-20', '2020-03-12']
}
df=pd.DataFrame(data)
print(df)

  Nombre  Edad    Salario FechaIngreso
0   Juan  28.0       3000   2021-01-15
1    Ana  34.0       4000   2020/03/12
2  Pedro   NaN  cinco mil   2022-07-01
3  María  45.0       4500   2021/12/01
4   Luis  38.0       4000   2021-05-20
5    Ana  34.0       5000   2020-03-12

In [28]:
# 1. Identificar y contar valores faltantes
print("Valores faltantes:")
print(df.isnull().sum())
# 2. Verificar formato de 'Salario'
print("\nFormato incorrecto en 'Salario':")
print(df[~df['Salario'].str.replace('[^0-9]', '').str.isdigit()])
# 3. Validar y estandarizar 'FechaIngreso'
df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'], errors='coerce', format='%Y-%m-%d')
print("\nDatos después de la validación y estandarización de 'FechaIngreso':")
print(df)

Valores faltantes:
Nombre          0
Edad            1
Salario         0
FechaIngreso    0
dtype: int64

Formato incorrecto en 'Salario':
  Nombre  Edad    Salario FechaIngreso
2  Pedro   NaN  cinco mil   2022-07-01

Datos después de la validación y estandarización de 'FechaIngreso':
  Nombre  Edad    Salario FechaIngreso
0   Juan  28.0       3000   2021-01-15
1    Ana  34.0       4000          NaT
2  Pedro   NaN  cinco mil   2022-07-01
3  María  45.0       4500          NaT
4   Luis  38.0       4000   2021-05-20
5    Ana  34.0       5000   2020-03-12

In [29]:
df['Salariolimpio']=df['Salario'].str.replace('[^0-9]', '', regex=True)
df['Salariolimpio'] = pd.to_numeric(df['Salariolimpio'], errors='coerce')
print(df)

  Nombre  Edad    Salario FechaIngreso  Salariolimpio
0   Juan  28.0       3000   2021-01-15         3000.0
1    Ana  34.0       4000          NaT         4000.0
2  Pedro   NaN  cinco mil   2022-07-01            NaN
3  María  45.0       4500          NaT         4500.0
4   Luis  38.0       4000   2021-05-20         4000.0
5    Ana  34.0       5000   2020-03-12         5000.0

2. Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario, puesto de trabajo y fecha de ingreso. Se requiere implementar aseguramiento de la calidad de los datos, verificando la completitud de los datos, la validez de los salarios y la consistencia de las fechas de ingreso.
-	Se requiere:
1.	Identificar y contar los valores faltantes en cada columna.
2.	Verificar el formato de la columna "Salario" para asegurarse de que todos los valores sean numéricos.
3.	Validar y estandarizar el formato de la columna "FechaIngreso" a YYYY-MM-DD.
4.	Verificar que no haya valores faltantes en la columna "Cargo"

In [3]:
data1 = {
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
    'Edad': [28, None, 40, 45, 38, 34],
    'Salario': ['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
    'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
    'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']}
df1=pd.DataFrame(data1)
print(df1)

  Nombre  Edad     Salario          Cargo FechaIngreso
0   Juan  28.0        3000       Analista   2021-01-15
1    Ana   NaN        4000        Gerente   2020/03/12
2  Pedro  40.0        4500  Desarrollador   2022-07-01
3  María  45.0  cuatro mil        Gerente   2021/12/01
4   Luis  38.0        5000       Analista         None
5  Carla  34.0        4000           None   2020-03-12

In [9]:
# 1. Identificar y contar valores faltantes
print("Valores faltantes:")
print(df1.isnull().sum())
# 2. Verificar formato de 'Salario'
print("\nFormato incorrecto en 'Salario':")
print(df1[~df1['Salario'].str.replace('[^0-9]', '').str.isdigit()])
# 3. Validar y estandarizar 'FechaIngreso'
df1['FechaIngreso'] = pd.to_datetime(df1['FechaIngreso'], errors='coerce', format='%Y-%m-%d')
print("\nDatos después de la validación y estandarización de 'FechaIngreso':")
print(df1)
#4. Verificar que no haya valores faltantes en la columna "Cargo"
print("\nValores faltantes en 'Cargo':")
print(df1[df1['Cargo'].isnull()])
#luego de validacion
print("\nDatos después de la validación:")
print(df1)

Valores faltantes:
Nombre           0
Edad             1
Salario          0
Cargo            1
FechaIngreso     3
Salariolimpio    1
dtype: int64

Formato incorrecto en 'Salario':
  Nombre  Edad     Salario    Cargo FechaIngreso  Salariolimpio
3  María  45.0  cuatro mil  Gerente          NaT            NaN

Datos después de la validación y estandarización de 'FechaIngreso':
  Nombre  Edad     Salario          Cargo FechaIngreso  Salariolimpio
0   Juan  28.0        3000       Analista   2021-01-15         3000.0
1    Ana   NaN        4000        Gerente          NaT         4000.0
2  Pedro  40.0        4500  Desarrollador   2022-07-01         4500.0
3  María  45.0  cuatro mil        Gerente          NaT            NaN
4   Luis  38.0        5000       Analista          NaT         5000.0
5  Carla  34.0        4000           None   2020-03-12         4000.0

Valores faltantes en 'Cargo':
  Nombre  Edad Salario Cargo FechaIngreso  Salariolimpio
5  Carla  34.0    4000  None   2020-03-12         4000.0

Datos después de la validación:
  Nombre  Edad     Salario          Cargo FechaIngreso  Salariolimpio
0   Juan  28.0        3000       Analista   2021-01-15         3000.0
1    Ana   NaN        4000        Gerente          NaT         4000.0
2  Pedro  40.0        4500  Desarrollador   2022-07-01         4500.0
3  María  45.0  cuatro mil        Gerente          NaT            NaN
4   Luis  38.0        5000       Analista          NaT         5000.0
5  Carla  34.0        4000           None   2020-03-12         4000.0

In [8]:
#corregir salario
df1['Salariolimpio']=df1['Salario'].str.replace('[^0-9]', '', regex=True)
df1['Salariolimpio'] = pd.to_numeric(df1['Salariolimpio'], errors='coerce')
print(df1)

  Nombre  Edad     Salario          Cargo FechaIngreso  Salariolimpio
0   Juan  28.0        3000       Analista   2021-01-15         3000.0
1    Ana   NaN        4000        Gerente          NaT         4000.0
2  Pedro  40.0        4500  Desarrollador   2022-07-01         4500.0
3  María  45.0  cuatro mil        Gerente          NaT            NaN
4   Luis  38.0        5000       Analista          NaT         5000.0
5  Carla  34.0        4000           None   2020-03-12         4000.0

PARTE 2
1.	Se requiere validar los datos: Precios de Productos, se tiene una lista de productos con los respectivos precios y se necesita validar que ningún precio sea negativo o nulo.

-	Se requiere:
1.	Crear un DataFrame con productos y precios.
2.	Producto: Producto A, Producto B,Producto C,Producto D.
3.	Precio:150, -25, 100, None.
4.	Validar que todos los precios sean mayores o iguales a cero y no nulos.
5.	Mostrar los productos con precios inválidos.
-	Resultado esperado: Una tabla que muestra qué productos tienen precios incorrectos.

In [35]:
import pandas as pd
data={
    'Producto':['Producto A', 'Producto B','Producto C','Producto D'],
    'Precio':[150, -25, 100, None]
}
df2=pd.DataFrame(data)
print(df2)

     Producto  Precio
0  Producto A   150.0
1  Producto B   -25.0
2  Producto C   100.0
3  Producto D     NaN

In [36]:
df2['Validación Precio'] = df2['Precio'].apply(lambda x: 'Válido' if
pd.notnull(x) and x >= 0 else 'Inválido')
print(df2)

     Producto  Precio Validación Precio
0  Producto A   150.0            Válido
1  Producto B   -25.0          Inválido
2  Producto C   100.0            Válido
3  Producto D     NaN          Inválido

2. Se requiere validar los datos duplicados: Clientes en una Base de Datos, se tiene una lista de clientes donde algunos registros tienen el mismo ID y necesitas identificarlos.
-	Se requiere:
1.	Crear un DataFrame con información de clientes.
2.	ID Cliente:1, 2, 3, 2, 4.
3.	Nombre: Ana, Luis, María, Luis, Carlos
4.	Verificar si hay duplicados en la columna de ID del cliente.
5.	Mostrar los registros duplicados.

In [41]:
data={
    'ID Cliente':[1,2,3,2,4],
    'Nombre':['Ana', 'Luis', 'María', 'Luis', 'Carlos']}
df3=pd.DataFrame(data)
duplicados = df3[df3.duplicated('ID Cliente')]
print(duplicados)

   ID Cliente Nombre
3           2   Luis

3.	Se requiere tener seguridad en los datos: Encriptación y Desencriptación de Datos Sensibles, se tiene un número de tarjeta de crédito que deseas encriptar para protegerlo y luego desencriptarlo para el uso.
-	Se requiere:
1.	Crear una cadena con datos sensibles (un número de tarjeta 1234-5678-9101- 1121).
2.	Encriptar esos datos utilizando una clave generada.
3.	Desencriptar los datos y mostrar ambos (encriptado y desencriptado).

In [58]:
from cryptography.fernet import Fernet
key = Fernet.generate_key()
cipher_suite = Fernet(key)
datos_sensibles = "1234-5678-9101-1121".encode()
datos_encriptados = cipher_suite.encrypt(datos_sensibles)
print("Datos Encriptados:", datos_encriptados)

Datos Encriptados: b'gAAAAABoJWvKPDLHJUII3yHiOR-TTppQ7vMhn1tmvYSKuh8BHX7OkINrY7-Jo_6e04Xk3latNUEpilh9y7s-5HCHu5VjymY1FIor7cXzDhBJrOEXSqan3QU='

In [59]:
datos_desencriptados = cipher_suite.decrypt(datos_encriptados)
print("Datos Desencriptados:",datos_desencriptados.decode())

Datos Desencriptados: 1234-5678-9101-1121