<a href="https://colab.research.google.com/github/lmerasoc/Analisis-de-datos-Bootcamp/blob/main/LAB_AD_B_3_Lina_Maria_Eraso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Parte 1: Identificación de Problemas en los Datos
-	Exploración inicial del dataset:
•	Cargar los datos con Pandas y usar funciones como .isnull(), .duplicated(), y
.value_counts() sobre la columna “City”.

In [86]:
import pandas as pd;
import numpy as np;
from google.colab import files
uploaded = files.upload()

Saving CSV Laboratorio 3 AD-B.csv to CSV Laboratorio 3 AD-B (2).csv

In [119]:
df = pd.read_csv('CSV Laboratorio 3 AD-B.csv')
print(df.count())
print(df.head(20))

ID          60
Name        60
Category    50
City        45
Value       58
Date        60
dtype: int64
    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
3    4     John         NaN     New York   97.0   4/17/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
8    9      Bob  CATEGORY B  Los Angeles    NaN    5/2/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
10  11      Bob       Cat C          NaN   96.0  11/27/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
13  14      Eve         NaN     New York   99.0  12/26/2023
14  15    Grace       Cat C          NaN   41.0    6/1/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
16  17    Alice  Category A          NaN   26.0   5/30/2023
17  18  Charlie         NaN      Houston   33.0   11/5/2023
18  19     John  Category A      Houston   79.0   9/15/2023
19  20      Bob  Category A      Chicago   25.0  12/10/2023

In [88]:
#Valores nulos
print(df.isnull().sum())

ID           0
Name         0
Category    10
City        15
Value        2
Date         0
dtype: int64

In [89]:
#Duplicated
print("Datos duplicados:",df.duplicated().sum())
print(df.duplicated())

Datos duplicados: 10
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50     True
51     True
52     True
53     True
54     True
55     True
56     True
57     True
58     True
59     True
dtype: bool

In [90]:
#Contar ciudades
print(df['City'].value_counts())

City
Chicago        13
Houston        13
New York       12
Los Angeles     7
Name: count, dtype: int64

Parte 2: Limpieza de Datos con Python
1. Corrección de errores:

•	Eliminar o reemplazar valores nulos (fillna, dropna).

•	Eliminar duplicados con .drop_duplicates().

•	Normalización de formatos en columnas (e.g., convertir texto a minúsculas, estandarizar fechas al formato AAAA/MM/DD con pd.to_datetime).

•	Estandarizar formato de “Category”.


2. Validación del dataset limpio: Revisar nuevamente el dataset para asegurar que los problemas han sido corregidos.
3. Exportar el dataset limpio en extensión CSV ya que se usará para el siguiente laboratorio.

In [91]:
#Eliminar datos
df1 = df.dropna()
print(df1.isnull().sum())
print(df1)
print(df1.count())

ID          0
Name        0
Category    0
City        0
Value       0
Date        0
dtype: int64
    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
18  19     John  Category A      Houston   79.0   9/15/2023
19  20      Bob  Category A      Chicago   25.0  12/10/2023
20  21     Jane  CATEGORY B      Houston   68.0  10/21/2023
22  23      Bob  Category B      Houston   68.0   10/4/2023
23  24     Jane  Category B      Chicago   99.0   6/10/2023
24  25  Charlie  Category A      Chicago   28.0  11/10/2023
26  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
27  28     Jane  Category A  Los Angeles   48.0   8/24/2023
28  29      Bob  Category B      Houston   10.0  12/11/2023
29  30  Charlie       Cat C     New York   66.0   2/18/2023
30  31      Eve  category a      Houston   32.0   2/28/2023
36  37     Jane  Category A      Chicago   46.0   2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles   18.0  12/30/2023
39  40  Charlie  Category A     New York   12.0    9/1/2023
42  43     Dave       Cat-C     New York   81.0   11/3/2023
43  44    Grace       Cat C      Chicago   93.0   5/15/2023
44  45  Charlie  Category B     New York   98.0   1/21/2023
46  47      Bob       Cat-C      Houston   91.0   6/16/2023
47  48     John  Category B     New York   44.0   10/1/2023
48  49  Charlie  Category B      Chicago   50.0   3/30/2023
49  50    Grace  Category A      Chicago   77.0  11/12/2023
51  40  Charlie  Category A     New York   12.0    9/1/2023
52  31      Eve  category a      Houston   32.0   2/28/2023
55  49  Charlie  Category B      Chicago   50.0   3/30/2023
56  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
59  20      Bob  Category A      Chicago   25.0  12/10/2023
ID          37
Name        37
Category    37
City        37
Value       37
Date        37
dtype: int64

In [94]:
#Eliminar duplicados
df2 = df1.drop_duplicates()
df3=df2
print("Datos duplicados:",df2.duplicated().sum())
print(df2)
print(df2.count())

Datos duplicados: 0
    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
18  19     John  Category A      Houston   79.0   9/15/2023
19  20      Bob  Category A      Chicago   25.0  12/10/2023
20  21     Jane  CATEGORY B      Houston   68.0  10/21/2023
22  23      Bob  Category B      Houston   68.0   10/4/2023
23  24     Jane  Category B      Chicago   99.0   6/10/2023
24  25  Charlie  Category A      Chicago   28.0  11/10/2023
26  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
27  28     Jane  Category A  Los Angeles   48.0   8/24/2023
28  29      Bob  Category B      Houston   10.0  12/11/2023
29  30  Charlie       Cat C     New York   66.0   2/18/2023
30  31      Eve  category a      Houston   32.0   2/28/2023
36  37     Jane  Category A      Chicago   46.0   2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles   18.0  12/30/2023
39  40  Charlie  Category A     New York   12.0    9/1/2023
42  43     Dave       Cat-C     New York   81.0   11/3/2023
43  44    Grace       Cat C      Chicago   93.0   5/15/2023
44  45  Charlie  Category B     New York   98.0   1/21/2023
46  47      Bob       Cat-C      Houston   91.0   6/16/2023
47  48     John  Category B     New York   44.0   10/1/2023
48  49  Charlie  Category B      Chicago   50.0   3/30/2023
49  50    Grace  Category A      Chicago   77.0  11/12/2023
ID          32
Name        32
Category    32
City        32
Value       32
Date        32
dtype: int64

In [108]:
#Normalización de formatos en columnas (e.g., convertir texto a minúsculas, estandarizar fechas al formato AAAA/MM/DD con pd.to_datetime).
df3.loc[:,'City'] = df3['City'].str.capitalize()
df3.loc[:,'Category'] = df3['Category'].str.capitalize()
df3.loc[:,'Name'] = df3['Name'].str.capitalize()
df3.loc[:,'Date'] = pd.to_datetime(df3['Date'])
df4=df3
print(df3)

    ID     Name    Category         City  Value       Date
0    1  Charlie  Category c      Chicago   46.0 2023-04-13
1    2     Jane  Category c      Houston   53.0 2023-12-15
2    3     Jane  Category a      Chicago   68.0 2023-09-28
4    5     Jane  Category c      Houston   71.0 2023-03-13
5    6      Eve  Category a  Los angeles   61.0 2023-07-08
6    7     Jane  Category a      Chicago   48.0 2023-01-21
7    8      Bob  Category b     New york   65.0 2023-04-13
9   10     Dave  Category b  Los angeles   11.0 2023-08-03
11  12     Dave  Category a      Houston   10.0 2023-03-29
12  13      Bob  Category c      Chicago   11.0 2023-04-10
15  16     Dave  Category a      Houston   64.0 2023-05-11
18  19     John  Category a      Houston   79.0 2023-09-15
19  20      Bob  Category a      Chicago   25.0 2023-12-10
20  21     Jane  Category b      Houston   68.0 2023-10-21
22  23      Bob  Category b      Houston   68.0 2023-10-04
23  24     Jane  Category b      Chicago   99.0 2023-06-10
24  25  Charlie  Category a      Chicago   28.0 2023-11-10
26  27  Charlie  Category b  Los angeles   42.0 2023-09-10
27  28     Jane  Category a  Los angeles   48.0 2023-08-24
28  29      Bob  Category b      Houston   10.0 2023-12-11
29  30  Charlie  Category c     New york   66.0 2023-02-18
30  31      Eve  Category a      Houston   32.0 2023-02-28
36  37     Jane  Category a      Chicago   46.0 2023-02-20
37  38  Charlie  Category b  Los angeles   18.0 2023-12-30
39  40  Charlie  Category a     New york   12.0 2023-09-01
42  43     Dave       Cat-c     New york   81.0 2023-11-03
43  44    Grace  Category c      Chicago   93.0 2023-05-15
44  45  Charlie  Category b     New york   98.0 2023-01-21
46  47      Bob       Cat-c      Houston   91.0 2023-06-16
47  48     John  Category b     New york   44.0 2023-10-01
48  49  Charlie  Category b      Chicago   50.0 2023-03-30
49  50    Grace  Category a      Chicago   77.0 2023-11-12

In [117]:
# Estandarizar formato de “Category”.
df4 = df4.copy()
df4.loc[:, 'Category'] = df4['Category'].str.replace('Cat c', 'Category c')
df4.loc[:, 'Category'] = df4['Category'].str.replace('Cat-c', 'Category c')
print(df4)
print(df4.count())

    ID     Name    Category         City  Value       Date
0    1  Charlie  Category c      Chicago   46.0 2023-04-13
1    2     Jane  Category c      Houston   53.0 2023-12-15
2    3     Jane  Category a      Chicago   68.0 2023-09-28
4    5     Jane  Category c      Houston   71.0 2023-03-13
5    6      Eve  Category a  Los angeles   61.0 2023-07-08
6    7     Jane  Category a      Chicago   48.0 2023-01-21
7    8      Bob  Category b     New york   65.0 2023-04-13
9   10     Dave  Category b  Los angeles   11.0 2023-08-03
11  12     Dave  Category a      Houston   10.0 2023-03-29
12  13      Bob  Category c      Chicago   11.0 2023-04-10
15  16     Dave  Category a      Houston   64.0 2023-05-11
18  19     John  Category a      Houston   79.0 2023-09-15
19  20      Bob  Category a      Chicago   25.0 2023-12-10
20  21     Jane  Category b      Houston   68.0 2023-10-21
22  23      Bob  Category b      Houston   68.0 2023-10-04
23  24     Jane  Category b      Chicago   99.0 2023-06-10
24  25  Charlie  Category a      Chicago   28.0 2023-11-10
26  27  Charlie  Category b  Los angeles   42.0 2023-09-10
27  28     Jane  Category a  Los angeles   48.0 2023-08-24
28  29      Bob  Category b      Houston   10.0 2023-12-11
29  30  Charlie  Category c     New york   66.0 2023-02-18
30  31      Eve  Category a      Houston   32.0 2023-02-28
36  37     Jane  Category a      Chicago   46.0 2023-02-20
37  38  Charlie  Category b  Los angeles   18.0 2023-12-30
39  40  Charlie  Category a     New york   12.0 2023-09-01
42  43     Dave  Category c     New york   81.0 2023-11-03
43  44    Grace  Category c      Chicago   93.0 2023-05-15
44  45  Charlie  Category b     New york   98.0 2023-01-21
46  47      Bob  Category c      Houston   91.0 2023-06-16
47  48     John  Category b     New york   44.0 2023-10-01
48  49  Charlie  Category b      Chicago   50.0 2023-03-30
49  50    Grace  Category a      Chicago   77.0 2023-11-12
ID          32
Name        32
Category    32
City        32
Value       32
Date        32
dtype: int64

In [116]:
#exportar
df4.to_csv('CSV Laboratorio 3 AD-B_limpio.csv', index=False)
print(df4)
from google.colab import files
files.download('CSV Laboratorio 3 AD-B_limpio.csv')

    ID     Name    Category         City  Value       Date
0    1  Charlie  Category c      Chicago   46.0 2023-04-13
1    2     Jane  Category c      Houston   53.0 2023-12-15
2    3     Jane  Category a      Chicago   68.0 2023-09-28
4    5     Jane  Category c      Houston   71.0 2023-03-13
5    6      Eve  Category a  Los angeles   61.0 2023-07-08
6    7     Jane  Category a      Chicago   48.0 2023-01-21
7    8      Bob  Category b     New york   65.0 2023-04-13
9   10     Dave  Category b  Los angeles   11.0 2023-08-03
11  12     Dave  Category a      Houston   10.0 2023-03-29
12  13      Bob  Category c      Chicago   11.0 2023-04-10
15  16     Dave  Category a      Houston   64.0 2023-05-11
18  19     John  Category a      Houston   79.0 2023-09-15
19  20      Bob  Category a      Chicago   25.0 2023-12-10
20  21     Jane  Category b      Houston   68.0 2023-10-21
22  23      Bob  Category b      Houston   68.0 2023-10-04
23  24     Jane  Category b      Chicago   99.0 2023-06-10
24  25  Charlie  Category a      Chicago   28.0 2023-11-10
26  27  Charlie  Category b  Los angeles   42.0 2023-09-10
27  28     Jane  Category a  Los angeles   48.0 2023-08-24
28  29      Bob  Category b      Houston   10.0 2023-12-11
29  30  Charlie  Category c     New york   66.0 2023-02-18
30  31      Eve  Category a      Houston   32.0 2023-02-28
36  37     Jane  Category a      Chicago   46.0 2023-02-20
37  38  Charlie  Category b  Los angeles   18.0 2023-12-30
39  40  Charlie  Category a     New york   12.0 2023-09-01
42  43     Dave  Category c     New york   81.0 2023-11-03
43  44    Grace  Category c      Chicago   93.0 2023-05-15
44  45  Charlie  Category b     New york   98.0 2023-01-21
46  47      Bob  Category c      Houston   91.0 2023-06-16
47  48     John  Category b     New york   44.0 2023-10-01
48  49  Charlie  Category b      Chicago   50.0 2023-03-30
49  50    Grace  Category a      Chicago   77.0 2023-11-12